<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="[%p][%c] %m%n%ex"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework.web" level="info" additivity="false" />
        <Logger name="org.springframework.context" level="info" additivity="false" />

        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>